<div class="container">
    

    <h1> I'm Md Mahbub E Waduzzaman:  </h1>   
    <a href="#"> <img src="./assets/images/mahbub.jpg" alt="profile photo " style="float:top right;" border="black"; border="3" "The border is 3;"></a>
     
    <p>  
    Currently, I am pursuing a, Advanced Diploma in Software Engineering Technology at Centennial College, </p> 
    <p>where I gain programming skills in C#, Java, JavaScript, HTML, CSS. I have an excellent understating of Software Design, </p>
    <p>Web Design, WebApp Development, Linux/Unix Operating System, Windows command line, Agile Software Development, Git, Eclipse, </p> 
    <p>and Oracle SQL. Additionally, I have one year of inventory management experience and 12 years of customer support experience,</p>
    <p>where I have demonstrated skills such as an ability to work in fast-paced environments, collaboration and detail-orientation. 
    </p>
    </div>

    
   

   
