<div class="container">   
    
    <!--Created by: Md Mahbub E Waduzzaman-Created on 01/10/2021-->
<html lang="en">
    <head>
    <title>Waduzzaman Home Page </title>
    <meta charset="utf-8">
    <style type="text/css">
    .newStyle1 {
        text-decoration: none;
    }
    </style>
    </head>
    
    <body >

        <h1> Welcome to Waduzzaman's Personal Page</h1>
    
    <main>
    <p>I'm a student in the <b>Software Engineering Technology</b> program at Centennial College</p>
    <p>I enrolled in the Software Engineering Technology program at Centennial College in the Fall 2020 semester.</p> 
  
    <p>One of my favorite quote is:</p>
    <blockquote>
    <i>When you really want something, the whole universe conspires in helping you to achieve it.</i>
    <br>~~~Paulo Coelho~~~ <br>
    </blockquote>
    <p>We should drink lots of H<sub>2</sub>O to stay well hydrate</p>
    <p>Some of my favorite things to do are: </p>
    <ul style="list-style-image:url(animated-bullet-10.gif)">
    <li>Travelling</li>
    <li>Shopping</li>
    <li>Watching movies</li>
    <li>Listening music</li>
    <li>Listening to the radio</li>
    <li>Watching TV shows</li>
    <li>Playing with kids</li>
    </ul>
    </main>
    <hr style="border-style:solid;border-color:olive;border-width:2px;">
        
    </body>

</html>

</div>
