<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>
  <body>
    <h1>Resume_Mahbub E Waduzzaman </h1>
    <iframe src="./assets/images/Resume of Mahbub E Waduzzaman.pdf" width="100%" height="750px">
    </iframe>
  </body>
</html>

